@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
@import url(https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css);
@import url(https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css);
@import url(https://db.onlinewebfonts.com/c/044c1e0595c25636a5589b568081376a?family=CiscoSans+Light+Regular);

body {
    padding-top: 3.5rem;
    /* Adjust based on navbar height */
}

html,
body {
    --bulma-scheme-main: #000 !important;
    background: #000 !important;
    font-family: "CiscoSans Light Regular" !important;
}

.footer.is-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

:root {
    --footer-height: 1.5rem;
}

.is-small-banner {
    padding: 0.10rem 0.75rem;
    font-size: 0.85rem;
}

.is-small-banner .delete {
    margin-top: -.85rem;
}

.fixed-banner {
    position: fixed;
    top: 3.25rem;
    /* Default Bulma navbar height; adjust if your navbar is taller */
    left: 0;
    width: 100%;
    z-index: 39;
    /* Higher than navbar (Bulma's navbar z-index is 1030) */
    border-radius: 0;
}

#results pre {
    white-space: pre-wrap;
    /* Allows wrapping */
    word-break: break-word;
    /* Breaks long words if needed */
}

#results-container {
    position: relative;
}

#copyBtn {
    /* Already set in JS, but you can override here if preferred */
    border: none;
    background: none;
    cursor: pointer;
}

.app-news img {
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.enlargeable-image {
    cursor: zoom-in;
}

#fileDropZone {
    border: 3px dashed #00d1b2;
    border-radius: 10px;
    padding: 2em;
    width: 100vw;
    text-align: center;
    cursor: copy;
}

.section-tight {
    margin-top: -1em;
    margin-bottom: -4em;
}